.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;

  &__sidemenu {
    flex-basis: 25%;
    border-right: var(--border);
  }

  main {
    position: relative;
    flex-grow: 1;
    padding-top: 6rem;
  }
}
